﻿@model IdentitySample.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}
<h3>@ViewBag.Title.</h3>
<h6>Use a organization account to log in.</h6>
<hr />
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "row g-3" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="mt-3">
        <lable class="form-label">Username</lable>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="mt-3">
        <lable class="form-label">
            Password
        </lable>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>
    <div class="mt-3">
        <input type="submit" value="Log in" class="btn btn-outline-secondary" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}