﻿@model IEnumerable<FCVBuyingWebApp.Model.vm_BuyingDocument>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function (e) {
        var table = $("#documentTable").DataTable({
            "order": [[0, "asc"]]
        });
    });
</script>
<header class="pb-3 mb-4 border-bottom">
    <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Buying Document</span>
    </a>
</header>

<div class="table-responsive">
    <table class="table table-sm"
           id="documentTable">
        <thead>
            <tr>
                <th>

                </th>
                @*<th>
                        Station
                    </th>*@
                <th>
                    Curer
                </th>
                <th>
                    Doc No.
                </th>
                <th>
                    Date
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderByDescending(x => x.FinishStatus))
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Index", "Buyings", new
                                {
                                    crop = item.Crop,
                                    stationCode = item.StationCode,
                                    farmerCode = item.FarmerCode,
                                    documentNumber = item.DocumentNumber
                                })">
                            <span class="btn btn-outline-secondary btn-sm"><i class="fas fa-search"></i></span>
                        </a>

                    </td>
                    @*<td>
                            @item.StationCode
                        </td>*@
                    <td>
                        @item.ExtensionAgentCode
                    </td>
                    <td>
                        @item.DocumentNumber
                    </td>
                    <td>
                        @item.CreateDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @{
                            if (item.FinishStatus)
                            {
                                <i class="fas fa-check-square text-success"></i>
                            }
                            else
                            {
                                <i class="fas fa-times-circle text-danger"></i>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>