﻿@model IEnumerable<FCVBuyingEntities.Buying>
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var station = (FCVBuyingEntities.BuyingStation)ViewBag.Station;
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#BuyingDetailsTable").DataTable({
            "order": [[1, "asc"]]
        });
    });
</script>

<h2>NPI Buying by Station</h2>
<hr />

<div class="row">
    <div class="col-sm-12">
        <div class="form-inline">
            @using (Html.BeginForm("Index", "NPIBuying", FormMethod.Post))
            {
                <div class="form-group">
                    <input type="date" id="buyingDate" name="buyingDate" class="form-group form-control" value="@ViewBag.buyingDate" />
                </div>
                <div class="form-group">
                    @Html.DropDownList("stationCode", new SelectList(@ViewBag.StationList, "StationCode", "StationName"), "Please select station", new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Show</button>
            }
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-hover table-striped table-condensed" id="BuyingDetailsTable">
            <thead>
                <tr>
                    <th>
                        Farmer Code
                    </th>
                    <th>
                        Bale Barcode
                    </th>
                    <th>
                        Bale Type
                    </th>
                    <th>
                        Weight
                    </th>
                    <th>
                        Grade
                    </th>
                    <th>
                        Grade Date
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.FarmerCode
                        </td>
                        <td>
                            @item.BaleBarcode
                        </td>
                        <td>
                            @item.BaleType.BaleTypeName
                        </td>
                        <td>
                            @item.Weight
                        </td>
                        <td>
                            @{
                                var grade = item.RejectTypeID != null ? ("* " + item.RejectType.RejectTypeName) : item.Grade;
                            }
                            @grade
                        </td>
                        <td>
                            @item.GradeModifiedDate
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading"><span style="font-weight:bold">Total Bale</span></div>
            <div class="panel-body">
                @{
                    var totalBale = @Model.Count();
                }
                <label style="font-size:x-large;font-weight:bold;">@totalBale bales</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-info">
            <div class="panel-heading"><span style="font-weight:bold">Total Weight</span></div>
            <div class="panel-body">
                @{
                    var totalWeight = @Model.Sum(m => m.Weight);
                }
                <label style="font-size:x-large;font-weight:bold;">@totalWeight.ToString("N2") kg.</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-danger">
            <div class="panel-heading"><span style="font-weight:bold">Average Weight</span></div>
            <div class="panel-body">
                @{
                    var averageWeight = Model.Count() <= 0 ? 0 : Model.Sum(m => m.Weight) / Model.Count();
                }
                <label style="font-size:x-large;font-weight:bold;">@averageWeight.ToString("N2") / bale</label>
            </div>
        </div>
    </div>
</div>