﻿@using FCVBuyingWebApp.Model;
@model IEnumerable<vm_Buying>

@{
    vm_BuyingDocument buyingDocument = new vm_BuyingDocument();
    buyingDocument = ViewBag.BuyingDocument;
}

@{
    ViewBag.Title = "Buying details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#BuyingDocumentDetailsTable").DataTable({
            "order": [[1, "asc"]]
        });
    });
</script>

<header class="pb-3 mb-4 border-bottom">
    <a href="#" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Buying Document Details</span>
    </a>
</header>
<div class="table-responsive">
    <table class="table table-striped table-sm"
           id="BuyingDocumentDetailsTable">
        <thead class="fs-6">
            <tr>
                @*<th>
                        Barcode
                    </th>*@
                <th>
                    Bale No.
                </th>
                @*<th>
                        Bale Type
                    </th>*@
                <th>
                    Weight
                <th>
                    Grade
                </th>
                <th>
                    Reject
                </th>
                @*<th>
                        Buying Date
                    </th>*@
            </tr>
        </thead>
        <tbody class="fs-6">
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            @item.BaleBarcode
                        </td>*@
                    <td>
                        @item.BaleNumber
                    </td>
                    @*<td>
                            @item.BaleTypeName
                        </td>*@
                    <td>
                        @item.Weight
                    <td>
                        @item.Grade
                    </td>
                    <td>
                        @item.RejectTypeName
                    </td>
                    @*<td>
                            @item.GradeModifiedDate
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>

@{
    var totalBale = Model.Count();
    var totalWeight = Model.Sum(x => x.Weight);
    var totalPrice = Model.Sum(x => x.Weight * x.UnitPrice);
    var avgPrice = totalPrice / totalWeight;
}
<div class="card mt-4">
    <div class="card-body">
        <table class="table">
            <tr>
                <td><b>Total Bales</b></td>
                <td>@totalBale.ToString("N0")</td>
            </tr>
            <tr>
                <td><b>Total Weight</b></td>
                <td>@totalWeight.ToString("N1")</td>
            </tr>
            <tr>
                <td><b>Total Price</b></td>
                <td>@totalPrice.ToString("N2")</td>
            </tr>
            <tr>
                <td><b>Average Price</b></td>
                <td>@avgPrice.ToString("N2")</td>
            </tr>
        </table>
    </div>
</div>